#folders

.env
.vscode
node_modules/
out/
private/
build/
.nyc_output/

#files

private/saves/save.json
private/saves/save_test.json
private/gcal/credentials.json
private/gcal/service_key.json
token.json
visits.sqlite
**/*.js

