    <div class="dfz-abstract-container main-container accent">
        <h1>CREDITS</h1>
        <div class="dfz-bottom-margin">The icons in the cells 'Free Coaching' and 'Play' have been made by 
            <a href="https://www.flaticon.com/de/autoren/eucalyp" target="_blank" title="Eucalyp">Eucalyp</a> 
            , while the icon in the cell 'community' has been created by
            <a href="https://www.flaticon.com/de/autoren/freepik" target="_blank" title="Freepik">Freepik</a>
            and finally the icon in the cell 'Calibration Game' was created by 
            <a href="https://www.flaticon.com/de/autoren/smashicons" title="Smashicons">Smashicons</a>.
            All three are publishing on
            <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a>
        </div>
        <div class="dfz-bottom-margin">Icons for 'TYPES OF COACHING' have been made by Laerer</div>
        <div class="dfz-bottom-margin">Inspired by the free webflow template <a
                href="https://velocity-free-template.webflow.io/" target="_blank">Velocity</a> </div>
        <div class="dfz-bottom-margin">DFZ Discord-Bot and Website created and maintained by <a href="https://github.com/OliverHenrichs/"
                target="_blank">ValarM</a></div>
        <div>Clicks: {{visitorCount}} </div>
    </footer>