    <div class="dfz-abstract-container main-container accent">
        <h1>CREDITS</h1>
        <div class="dfz-bottom-margin">The icon in the cell 'Free Coaching' was made by <a
                href="https://www.flaticon.com/de/autoren/eucalyp" target="_blank" title="Eucalyp">Eucalyp</a> from
            <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a>
        </div>
        <div class="dfz-bottom-margin">Tons of icons made by the one and only Laerer</div>
        <div class="dfz-bottom-margin">Inspired by the free webflow template <a
                href="https://velocity-free-template.webflow.io/" target="_blank">Velocity</a> </div>
        <div>DFZ Discord-Bot and Website created and maintained by <a href="https://github.com/OliverHenrichs/"
                target="_blank">ValarM</a></div>
    </footer>