@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap);@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap);:root{--c-bg-main:#0f0f0f!important;--c-bg-sec:#181818!important;--c-bg-header:rgba(15,15,15,0.79)!important;--c-highlight:#f20e4f!important}button[data-v-53f8ea70]{position:relative;padding:0;width:50px;height:50px;border-style:none}button>img[data-v-53f8ea70]{-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}.bar[data-v-53f8ea70]{position:absolute;width:40px;height:5px;background-color:#fff}.header[data-v-89208278]{position:fixed;height:60px;top:0;z-index:5;color:#fff!important;background-color:var(--c-bg-header)!important;font-family:Montserrat,sans-serif}.header-btn[data-v-89208278]{position:relative;margin:0;padding:0 30px;height:100%;background-color:transparent;z-index:1;font-family:Montserrat,sans-serif;color:#fff;-webkit-transition:all .25s ease;transition:all .25s ease}.header-btn[data-v-89208278]:before{content:"";position:absolute;z-index:-1;left:0;bottom:0;height:0%;width:100%;background-color:var(--c-highlight);-webkit-transition:all .25s ease;transition:all .25s ease}.active[data-v-89208278]:before,.header-btn[data-v-89208278]:hover:before{height:100%}.burger-btn[data-v-89208278]{width:100%;margin:0;padding:10px}.burger-buttons[data-v-89208278]{position:relative;top:-50px;opacity:0;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}.burger-active[data-v-89208278]{top:0;opacity:1}.burger-closer[data-v-89208278]{position:fixed;width:100%;height:100%;z-index:4}@media screen and (max-width:690px){.header[data-v-89208278]{display:none!important}.header-burger[data-v-89208278]{display:block!important}}a[data-v-0f84e7aa]{text-decoration:underline}.main-header[data-v-0f84e7aa]{width:100%;height:100vh;background-image:url(../img/main-bg.dd7047fb.jpg);background-position:50%;background-repeat:no-repeat;background-size:cover;-webkit-transition:-webkit-transform .25s ease-in-out;transition:-webkit-transform .25s ease-in-out;transition:transform .25s ease-in-out;transition:transform .25s ease-in-out,-webkit-transform .25s ease-in-out}.header-cont[data-v-0f84e7aa]{padding:20vh 0}.logo[data-v-0f84e7aa]{opacity:.9}.logo>h1[data-v-0f84e7aa]{font-weight:300;font-size:80px}.logo>h2[data-v-0f84e7aa]{font-weight:200;font-size:27px}.down[data-v-0f84e7aa]{position:absolute;left:calc(50% - 50px);top:calc(100% - 150px);margin-top:auto;color:#fff!important}.down>div[data-v-0f84e7aa]{position:relative}.mt-6[data-v-0f84e7aa]{margin-top:100px}.yt-iframe>iframe[data-v-0f84e7aa]{max-width:100%;width:900px;height:510px;border:0;margin:0 auto}@media screen and (max-height:750px),screen and (max-width:690px){.logo>img[data-v-0f84e7aa]{width:150px;height:150px}.logo>h1[data-v-0f84e7aa]{font-weight:300;font-size:55px}.logo>h2[data-v-0f84e7aa]{font-weight:200;font-size:19px}}.project[data-v-733c6550]{position:relative;max-width:400px;min-width:400px;height:200px;background-color:var(--c-bg-sec);border-radius:10px;padding:15px 20px;margin-bottom:25px;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}@media screen and (max-width:420px){.project[data-v-733c6550]{min-width:0}}.project>h1[data-v-733c6550]{font-family:Montserrat,sans-serif;font-size:30px;font-weight:300}.project[data-v-733c6550]:hover{-webkit-transform:scale(1.03);transform:scale(1.03)}.lang-container[data-v-733c6550]{position:absolute;display:-webkit-box;display:-ms-flexbox;display:flex;bottom:10px;margin-right:100px}.lang-txt[data-v-733c6550]{position:relative;top:-4px;font-size:18px;font-family:Montserrat,sans-serif;padding:0;margin:0 0 0 0}.lang-point[data-v-733c6550]{position:relative;width:18px;height:18px;border-radius:50%;margin-right:7px}.lang-js[data-v-733c6550]{background-color:#ffeb3b!important}.lang-go[data-v-733c6550]{background-color:#00bcd4!important}.lang-python[data-v-733c6550]{background-color:#2979ff!important}.lang-vue[data-v-733c6550]{background-color:#00bfa5!important}.lang-csharp[data-v-733c6550]{background-color:#00e676!important}.lang-angular[data-v-733c6550]{background-color:#dd0031!important}.lang-react[data-v-733c6550]{background-color:#61dafb!important}p[data-v-96f0c478]{font-family:Montserrat,sans-serif;font-size:20px}.projects[data-v-96f0c478]{margin-top:120px}.page-header[data-v-96f0c478]{margin-bottom:50px}.projects-container[data-v-96f0c478]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap}.gh-link[data-v-96f0c478]{opacity:.9;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}.gh-link[data-v-96f0c478]:hover{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}a[data-v-20a501c8]{font-size:18px}a[data-v-20a501c8]:hover{text-decoration:underline}.gear[data-v-20a501c8]{margin-top:120px}@media screen and (max-width:690px){.data-row[data-v-20a501c8]{display:block!important}}a[data-v-8dc6b9aa]{text-decoration:underline}td[data-v-8dc6b9aa]{padding-right:20px}.contact[data-v-8dc6b9aa]{margin-top:120px}.social-btn[data-v-8dc6b9aa]{-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}.social-btn[data-v-8dc6b9aa]:hover{-webkit-transform:scale(1.06);transform:scale(1.06)}.tfont[data-v-8dc6b9aa]{font-size:20px}.imprint-btn[data-v-8dc6b9aa]{background-color:var(--c-bg-sec);padding:15px 20px;font-family:Montserrat,sans-serif;font-size:25px;text-decoration:none;border:3px solid var(--c-highlight);color:#fff;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}.imprint-btn[data-v-8dc6b9aa]:hover{background-color:var(--c-highlight);border:6px solid #a30834}.built-with-banner[data-v-8dc6b9aa]{margin-top:100px}.built-with-banner>.hr[data-v-8dc6b9aa]{width:80%;height:2px;background-color:hsla(0,0%,100%,.25);margin:0 auto}.dc-cont[data-v-bdc2a8ac]{position:relative;background-color:#2c2f33;padding:20px;border-radius:5px;-webkit-box-shadow:0 0 25px 0 rgba(0,0,0,.24);box-shadow:0 0 25px 0 rgba(0,0,0,.24);cursor:pointer;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.dc-cont:hover .join-txt[data-v-bdc2a8ac]{height:35px;padding:6px}.data-cont[data-v-bdc2a8ac]{margin-bottom:30px}.dc-cont[data-v-bdc2a8ac]:hover{-webkit-box-shadow:0 10px 40px 0 rgba(0,0,0,.24);box-shadow:0 10px 40px 0 rgba(0,0,0,.24);-webkit-transform:scale(1.02);transform:scale(1.02)}img.avatar[data-v-bdc2a8ac]{border-radius:50%}.pill[data-v-bdc2a8ac]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#212325;padding:5px 12px;border-radius:1000px;margin:10px 0}.pill-dot[data-v-bdc2a8ac]{width:1rem;height:1rem;background-color:#72767d;border-radius:50%;margin-right:10px}.online[data-v-bdc2a8ac]{background-color:#43b581}.join-txt[data-v-bdc2a8ac]{position:absolute;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center;bottom:0;left:0;right:0;height:30px;background-color:#7289da;padding:3px;border-radius:0 0 5px 5px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.discord[data-v-67fec46f]{margin-top:120px;margin-left:auto;margin-right:auto;width:50vw}.dc-frame[data-v-67fec46f]{height:700px;width:100%}body::-webkit-scrollbar{width:15px;background-color:transparent}body::-webkit-scrollbar-thumb{background-color:hsla(0,0%,100%,.15)}html{scroll-behavior:smooth}body{background-color:var(--c-bg-main);font-family:Roboto,sans-serif}div{color:#fff}button{background-color:transparent;border-style:none}button:focus{outline:0;-moz-outline:0}a,a:hover{text-decoration:none;color:var(--c-highlight)}h1,h2,h3{font-family:Montserrat,sans-serif;font-weight:200}.router-cont{margin-bottom:200px}.font-montserrat,.page-header{font-family:Montserrat,sans-serif}.page-header{text-align:center;font-weight:200}

body {
    background-color: #202225;
}

.topContainer {
    display: block;
    text-align: center;
    cursor: default;
}

.img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.fadeInAnimationScroll {
    -webkit-animation: fadeInAnimation 2s ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInAnimation 2s ease;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
        transform: translateY(40px);
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0px);
     } 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    line-height: 21px;
    font-weight: 300;
    border-radius: 4px;
}

.filled-button {
    padding: 12px 30px;
    background-color: #b32812;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.hollow-button {
    padding: 10px 30px;
    border: 1px solid #fff;
    -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.hollow-button:hover {
    border-color: #b32812;
    color: #b32812;
}

.button:hover {
    background-color: white;
    color: #b32812;
}

.someMarginBottom {
    margin-bottom: 16px;
}

.section {
    position: relative;
    display: block;
    padding: 40px 10px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}

.img-box {
    display: block;
    height: 100px;
    border: 1px none #fff;
    border-radius: 0%;
    background-color: transparent;
    box-shadow: none;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.dfz-grid {
    display: grid;    
    width: 100%;
}

.dfz-grid-row-3 {
    grid-template-areas: "a a a";
    grid-template-columns: 33.33%;
}

.dfz-grid-row-4 {
    grid-template-areas: "a a a a";
    grid-template-columns: 25%;
}

.dfz-col {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
}

.paragraph {
    display: block; 
    margin: 0px 5px;
}

.textBox {
    padding: 15px 0px 0px 0px;
    border: 1px none #36393f;
    border-radius: 15px;
    background-color: #2f3136;
    text-align: center;
    height: 100%;
}

.accent {
    background-color: #2f3136;
}

.text-box-accent {
    background-color: #202225;
}

.dfz-yt-frame {    
    position: relative;
    width: 80vw; 
    height: 44.99vw; /* 100/56.25 = 560/315 = 1.778 */
    max-width: calc(1.778 * 500px);
    max-height: 500px;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #2f3136;
    color: #b32812;
}

table {
    border-collapse: collapse;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    
    .dfz-col {
        padding-bottom: 30px;
    }
    
    .dfz-col-3 {
        width: calc(100% - 20px);
    }

    .dfz-col-4 {
        width: calc(100% - 20px);
    }
    
    .button-container {
        flex-flow: column;   
    }

    .button {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .big-dfz-logo {
        width: 80%;
    }

    .dfz-grid-row-3, .dfz-grid-row-4 {
        grid-template-areas: "a";
        grid-template-columns: 100%;
    }
    
}

@media only screen and (min-width: 768px) {
    .textBox {
        margin-bottom: 10px;
    }

    .col1-laola {
        -webkit-animation: fadeInAnimation 1s ease-in-out;
        animation: fadeInAnimation 1s ease;
    }
    
    .col2-laola {
        -webkit-animation: fadeInAnimation 1.5s ease-in-out;
        animation: fadeInAnimation 1.5s ease;
    }
    
    .col3-laola {
        -webkit-animation: fadeInAnimation 2s ease-in-out;
        animation: fadeInAnimation 2s ease;
    }
}