{{>smallHeader}}

<div class="dfz-abstract-container main-container">
    <div class="fade-in-animation-scroll">
        <h1>Create a referral link</h1>
        <div class="section accent section-small-padding">
            <table class="dfz-table">
                <tr>
                    <td class="bigTableCell">Your Discord tag</td>
                    <td class="smallTableCell"><input id="userName" class="dfz-small-input" placeholder="name#1234"></td>
                </tr>
                <tr>
                    <td class="bigTableCell">
                        <button class="button margin-top-bottom filled-button autoFontSize" onclick="copyToClipboard()">
                            <span class="visible-when-large">Copy to clipboard</span>
                            <span class="visible-when-small">Copy</span>
                        </button>
                    </td>
                    <td class="smallTableCell"><textarea class="dfz-textarea" id="joinMessage" placeholder="" disabled> </textarea> </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{{>about}}
{{>scripts}}

<script>
    document.addEventListener("DOMContentLoaded", function() {    
        document.getElementById("userName").oninput = function() {
            var tagParts = document.getElementById("userName").value.split('#');
            var link = "http://107.180.238.99/join?name=";
            if(tagParts.length !== 2)
            {
                document.getElementById("joinMessage").value = "Incorrect tag. Tag has form 'name'#'number'";
                return;
            }

            tagParts.forEach(part => {
                part.trim();
            })
            link += tagParts[0] + "&number=" + tagParts[1];
            document.getElementById("joinMessage").value = link;
        }
    });
</script>